.calendar {
  
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .calendar-header {
  
 
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .calendar-body {
     flex-grow: 1;
    flex-direction: column;
  }
  
  .table-header {
 
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
  }
  
  .weekday {
   
    text-align: center;
  }
  
  .table-content {
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    box-sizing: border-box;
  }
  
  .calendar-day {
    padding: auto;
    width: 100%;
    
    position: relative;
    border: 1px solid #a6a6a6;
  }
  
  .calendar-day:hover {
    background-color: rgba(0,0,0,.10);
  }
  
  .calendar-day p {
    position: absolute;
    right: 10px;
    color: #a6a6a6;
  }
  
  .current p {
color: rgb(0, 3, 3);
  }
  
  .selected p {
    color: #cc0000;
    font-weight: bold;
  }

  .calendarGrid {
   
    
  }