<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tattoo Studio Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>My Tattoo Studio</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a> |
            <a href="{{ url_for('book') }}">Book Appointment</a> |
            <a href="{{ url_for('admin') }}">Admin</a>
            <a href="{{ url_for('artist_dashboard') if current_user.is_authenticated else url_for('login') }}">Artist Dashboard</a>


        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>